<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--日志序列-->
    <!--    <conversionRule conversionWord="sequence"-->
    <!--                    converterClass="com.fd.element.logenvironment.LogbackSequenceConverter"/>-->
    <conversionRule conversionWord="spanId" converterClass="com.adire.springdemo1.trace.LogBackSpanIdConverter"/>
    <conversionRule conversionWord="traceId" converterClass="com.adire.springdemo1.trace.LogBackTraceIdConverter"/>
    ​
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <!--    <springProperty scope="context" name="instanceId" source="eureka.instance.instance-id"/>-->

    <!-- Example for logging into the build folder of your project -->
    <!--    <property name="LOG_FILE" value="/var/log/fdserver/${instanceId}"/>​-->
    <property name="LOG_FILE" value="log/adire/test"/>​

    <!-- You can override this to have a custom pattern -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{HH:mm:ss}){faint} %clr(%-5level) %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %logger : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>


    <!-- Appender to log to console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Appender to log to file -->​
    <appender name="flatfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    ​
    <!-- Appender to log to file in a JSON format -->
    <appender name="logstash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.json.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <!--  logstash插件，用于输入json格式的日志    -->
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "severity": "%level",
                        "service": "${springAppName:-}",
                        "trace": "%traceId",
                        "span": "%spanId",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger",
                        "rest": "%message",
                        "exception": "${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    ​
    <root level="INFO">
        <appender-ref ref="console"/>
        <!-- uncomment this to have also JSON logs -->
        <appender-ref ref="logstash"/>
        <appender-ref ref="flatfile"/>
    </root>

    <logger name="springfox.documentation.spring.web.readers.operation.CachingOperationNameGenerator">
        <level value="WARN"/>
    </logger>
</configuration>